.YearSelector {
    text-align: right;
    font-size: 1.17em;
    list-style-type: none;
    column-gap: 20px;
    background-color: coral;
    ont-weight: bold;
    li {
        margin-top: 10px;
        margin-bottom: 10px;
    }

}